body{
background-color: darkgrey ;
background-image: url();

}
header{
background-color: aqua;
padding: 1%;
}
.logo{

}
nav{

}
main{
background-color: chartreuse;
width: 80%;
margin-left: auto;
margin-right: auto;
}
section{
background-color: coral;
}
footer{
    background-color: rgb(255, 0, 212);
    padding: 3%;
}
.cabecalho{
    padding: 3%;
}
.rodape{
    padding: 3%;
}
p{
    line-height: 1.5;

}
ul li{
    line-height: 1.5;
}
.titulos{
    line-height: 3;
    text-align: center;

}
.logost{
    width: 15%;
    
}
h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
    font-weight: bold;
}
table{
    border-collapse: collapse;
    width: 80%;
    font-size: 1,2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
td,th{
    border: 5px dashed white;
    padding: 1.5%;
}
tr:nth-child(even) {
    background-color: red;
}