body{
background-color: darkgrey ;
}
header{
background-color: aqua;
padding: 3%;
}
.logo{
background-color: gold;
}
nav{
background-color: blueviolet;
}
main{
background-color: chartreuse;
width: 80%;
margin-left: auto;
margin-right: auto;
}
section{
background-color: coral;
}
footer{
    background-color: blue;
    padding: 3%;
}
.cabecalho{
    padding: 3%;
}
.rodape{
    padding: 3%;
}
p{
    line-height: 1.5;
}
ul li{
    line-height: 1.5;
}
.titulos{
    line-height: 3;
}