body{
background-color: darkgrey ;
background-image: url(); nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn*********************************************
}
header{
background-color: aqua;
padding: 1%;
}
.logo{

}
nav{

}
main{
background-color: chartreuse;
width: 80%;
margin-left: auto;
margin-right: auto;
}
section{
background-color: coral;
}
footer{
    background-color: rgb(255, 0, 212);
    padding: 3%;
}
.cabecalho{
    padding: 3%;
}
.rodape{
    padding: 3%;
}
p{
    line-height: 1.5;
}
ul li{
    line-height: 1.5;
}
.titulos{
    line-height: 3;
}
.logost{
    width: 20%;
}
